/* utilities */
.gc-ml-5{
    margin-left: 5px !important;
}

.gc-mr-5{
    margin-right: 5px !important;
}

.gc-pointer{
    cursor: pointer !important;
}

.gc-no-select{
    user-select: none !important;
}

.gc-btn-new{
    font-size: 14px !important;
    font-weight: 600;
}

.gc-btn-new i{
    font-size: 14px !important;
    font-weight: 600;
}